#root {
  height: 100%;
}
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}
.App {
  margin: 0;
  padding: 0;
  height: 100%;
}
.searchControllerContainer {
  height: 100%;
}
/* NAV */
.navLogo {
  padding: 20px 0;
  cursor: pointer;
}
.navBar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(245, 245, 245, 1);
}
/* HOME */
.homeNav {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  margin-top: 3vh;
}
.homeNav > Button {
  margin: 0 20px;
  font-size: 1.1rem;
}
.navLogButtons {
  display: flex;
  justify-content: space-between;
  width: 220px;
}
.loginButtons {
  height: 3rem;
  width: 100px;
}

/* LOGIN  */
a {
  color: black;
  text-decoration: none;
}
.loginButtons a {
  color: white;
}
.loginContainer {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}
.usernameInput,
.passwordInput {
  border-radius: 5px;
  margin: 5px 0;
  padding: 10px;
  width: 100%;
  background-color: white;
  -webkit-autofill: white;
}

/* REGISTER FORM  */
.registerContainer {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin-bottom: 100px;
}
.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* SEARCH BAR ONLY */
.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
.searchBarForm {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 45vw;
  overflow: hidden;
}
.MuiInput-underline:before {
  border-bottom: none;
}

.searchBarLeftInput,
.searchBarRightInput {
  padding: 10px;
  width: 100%;
  background-color: white;
}
.searchBarLeftInput {
  border: none;
  -webkit-autofill: white;

  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.searchBarRightInput {
  width: 50%;
  -webkit-autofill: white;
  border-left: 1px solid black;
  /* border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; */
}
.searchBarButton {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
/*  HOME PAGE  */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: auto;
}
.homeLogo {
  margin-top: 100px;
}
.searchBarHome {
  margin-top: 100px;
  width: 50%;
}

/* SEARCH PAGE */
.searchResultsContainer {
  height: 85vh;
  overflow: scroll;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}
.servicesSearchContainer {
  display: flex;
  justify-content: center;
  width: 1000px;
  padding: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
}
.servicesSearchContainer:hover {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.serviceSearchDiv {
  display: flex;
  width: 500px;
  flex-grow: 2;
  cursor: pointer;
}
.searchServiceImage {
  border-radius: 5px;
}
.serviceSearchInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 20px;
  list-style: none;
}
.serviceSearchInfo h1 {
  margin: 0;
}
.serviceSearchCategories p {
  display: flex;
  margin: 0;
}

.serviceUserOptions {
  padding: 10px;
  flex-grow: 1;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.serviceUserOptions > h3 {
  margin: 0;
}

/* SERVICE PAGE  */

.serviceRightContainer {
  width: 400px;
}
.servicePhotoCarousel {
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  border: 1px solid lightgray;
  padding: 20px;
  /* margin-left: 40px;
  margin-top: 20px; */
}
.foodPhotoPadding {
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.foodCarouselPhoto {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.serviceLeftContainer > h1 {
  font-size: 2rem;
}
.serviceLeftContainer p {
  margin: 1rem 0;
}
.serviceName {
  font-size: 3rem;
  margin: 20px 0;
}

.serviceContainer {
  display: flex;
  justify-content: center;
}
.serviceContent {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 1000px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 30px 50px;
  padding: 40px;
  font-size: 1rem;
}
.reviewsContainer {
  max-height: 600px;
  overflow: auto;
  min-width: 500px;
  padding-right: 20px;
  font-size: 1rem;
}
.individualReviews {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0 20px;
  margin: 10px 0;
}
.reviewUser {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 5px;
}
.serviceButtonContainer {
  display: flex;
}

/* REVIEW FORM */
.reviewForm {
  width: 500px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-top: 20px;
  box-sizing: inherit;
  margin-right: 40px;
}
.reviewHeader {
  margin: 0;
}
.reviewTextBox {
  font-size: 1.5rem;
  border: 1px solid black;
}

/* USER PAGE */
.userProfileContainer {
  display: flex;
  height: 10;
  width: 1000px;
  /* box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12); */
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}
.userInfoContainer {
  background-color: rgba(245, 245, 245, 1);
  padding: 0 40px;
  width: 300px;
  border-radius: 10px;
  height: 350px;
}
.userProfileButtons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.userCategoriesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-top: 1px solid lightgray;
  margin: 10px 0;
  padding-top: 10px;
}
.editUserInfoContainer {
  padding: 30px;
  padding-top: 20px;
  margin: 0 30px;
  width: 1000px;
  height: auto;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.editHeader {
  margin: 0;
}
.reviewTextBox {
  width: 100%;
}

.bookmarksAndReviewsContainer {
  margin: 0 20px;
  padding: 0 20px;
  width: 1000px;
  height: 1000px;
  overflow: scroll;
}
.individualBookmarkContainer,
.individualReviewContainer {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    1px 5px 6px 1px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  margin: 30px 0;
  padding: 20px;
  cursor: pointer;
}
.individualBookmarkContainer:hover,
.individualReviewContainer:hover {
  box-shadow: 0px 2px 4px -1px rgba(254, 152, 0, 0.5),
    1px 5px 6px 1px rgba(254, 152, 0, 0.5),
    0px 1px 10px 0px rgba(254, 152, 0, 0.5);
}
.individualBookmarkContainer {
  display: flex;
  justify-content: space-between;
}

.deleteButton {
  height: 3rem;
  width: 100px;
  color: orange;
}

.testFooter {
  background-color: rgba(245, 245, 245, 1);
  border-top: 1px solid rgb(175, 175, 175);
  /* box-shadow: 20px 1px 10px 2px rgba(0, 0, 0, 0.2),
    25px 5px 6px 5px rgba(0, 0, 0, 0.14), 30px 1px 10px 10px rgba(0, 0, 0, 0.12); */
  width: 100%;
  height: 275px;
  bottom: 0;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;
}
